<!DOCTYPE html>
<!--HTML5 doctype-->
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/button.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/validation.css">
		<link rel="stylesheet" type="text/css" href="css/registry_main.less.css" class="main-less">
		<title>GetScan</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<style type="text/css">
			/* Prevent copy paste for all elements except text fields */
			*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
			input, textarea  { -webkit-user-select:text; }
		</style>
		<script src="../../assets/lib/angular.min.js"></script>
		<script src="../../assets/lib/angular-route.min.js"></script>
		<script type="application/javascript" src="../../assets/lib/jquery.min.js"></script>
		<script type="application/javascript" src="../../assets/js/marginal/marginal-position.min.js"></script>
		<script type="application/javascript" src="../../assets/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../app.js"></script>
		<script src="../directives.js"></script>
		<script src="../commons.js"></script>
		<script src="../controller.js"></script>
		<script src="../services.js"></script>
		<script src="../../intelxdk.js"></script>
		<script src="../../cordova.js"></script>
		<script type="text/javascript">
			/* Intel native bridge is available */
			var onDeviceReady=function(){
			//hide splash screen
			intel.xdk.device.hideSplashScreen();
			};
			document.addEventListener("intel.xdk.device.ready",onDeviceReady,false);
		</script>
		<script src="http://debug-software.intel.com/target/target-script-min.js#6XkRAxFbFdZaeA3bm41Pp_25deW-KfKLn0ZHcJIbYyo"></script>
	</head>

	<body ng-app="app">

		<!-- content goes here-->

		<div class="uwrap">
			<div class="upage" id="mainpage">
				<div class="upage-outer">
					<div class="upage-content" id="mainsub">
						<div class="grid grid-pad urow uib_row_1 row-height-1" data-uib="layout/row" data-ver="0">
							<div class="col uib_col_1 col-0_12-12" data-uib="layout/col" data-ver="0">
								<div class="widget-container content-area vertical-col left">
									<div class="widget uib_w_7 scale-image d-margins" data-uib="media/img" data-ver="0">
										<figure class="figure-align">
											<img src="../../assets/images/logo.png">

											<figcaption data-position="bottom"></figcaption>
										</figure>
									</div>
									<span class="widget uib_w_8 d-margins badge d-badge-widths" data-uib="twitter%20bootstrap/badge_and_label" data-ver="0">Configurações</span>
									<form id="idFrmRegistry" name="registryForm" ng-controller="registryController as registryCtrl" novalidate="">
										<messages></messages>

										<div class="btn-group uib-bs-flex widget uib_w_9 d-margins" data-uib="twitter%20bootstrap/button_group" data-ver="0">
											<button id="idBtnReadQrCode" type="button" ng-click="registryCtrl.readQrCode()" class="btn widget uib_w_14 btn-primary" data-uib="twitter%20bootstrap/button" data-ver="0"><i class="glyphicon fa button-icon-left" data-position="left"></i> Capturar QR-Code</button>
											<button type="button" ng-click="registryCtrl.goToHome()" class="btn widget uib_w_12 btn-default" data-uib="twitter%20bootstrap/button" data-ver="0" id="idBtnFechar">
												<i class="fa fa-sign-out" data-position="left"></i> Fechar</button>
										</div>
									</form>

									<span class="uib_shim"></span>
								</div>
							</div>
							<span class="uib_shim"></span>
						</div>

					</div>
					<!-- /upage-content -->

				</div>
				<!-- /upage-outer -->

			</div>
			<!-- /upage -->

		</div>
		<!-- /uwrap -->
	</body>

</html>