@media all {
.bgApp { background-image:linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(0,128,192,1) 100%, rgba(0,128,192,1) 100%);
background-image:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(0,128,192,1) 100%, rgba(0,128,192,1) 100%);
background-position:center center;
background-repeat:no-repeat;
background-attachment:scroll;
 }
}

