<!DOCTYPE html>
<!--HTML5 doctype-->
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/button.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/validation.css">
		<link rel="stylesheet" type="text/css" href="css/changeroom_main.less.css" class="main-less">
		<title>GetScan</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<style type="text/css">
			/* Prevent copy paste for all elements except text fields */
			*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
			input, textarea  { -webkit-user-select:text; }
		</style>
		<script src="../../assets/lib/angular.min.js"></script>
		<script src="../../assets/lib/angular-route.min.js"></script>
		<script type="application/javascript" src="../../assets/lib/jquery.min.js"></script>
		<script type="application/javascript" src="../../assets/js/marginal/marginal-position.min.js"></script>
		<script type="application/javascript" src="../../assets/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../app.js"></script>
		<script src="../directives.js"></script>
		<script src="../commons.js"></script>
		<script src="../controller.js"></script>
		<script src="../services.js"></script>
		<!--<script src="cordova.js"></script>-->
		<!--<script src="cordova.js"></script>-->
	</head>

	<body ng-app="app">

		<!-- content goes here-->

		<div class="uwrap">
			<div class="upage" id="mainpage">
				<div class="upage-outer">
					<div class="upage-content" id="mainsub">
						<div class="grid grid-pad urow uib_row_1 row-height-1" data-uib="layout/row" data-ver="0">
							<div class="col uib_col_1 col-0_12-12" data-uib="layout/col" data-ver="0">
								<div class="widget-container content-area vertical-col left">
									<div class="widget uib_w_13 scale-image d-margins scale-img" data-uib="media/img" data-ver="0">
										<figure class="figure-align">
											<img src="../../assets/images/logo.png">
											<figcaption data-position="bottom"></figcaption>
										</figure>
									</div>

									<span class="widget uib_w_8 d-margins badge d-badge-widths" data-uib="twitter%20bootstrap/badge_and_label" data-ver="0">Seleção de evento e sala</span>
									<form id="idFrmChangeRoom" name="changeRoomForm" ng-controller="changeRoomController as changeRoomCtrl" ng-submit="changeRoomForm.$valid &amp;&amp; changeRoomCtrl.salvar()" novalidate="">
										<messages></messages>
										<div class="table-thing widget uib_w_6 d-margins d-widths" data-uib="twitter%20bootstrap/input" data-ver="0" ng-show="dadosTela.seHabilitado">
											<label class="narrow-control label-top-left" for="idFldEventos">Escolha um evento:</label>
                                            <fieldset id="idFldEventos" class="widget uib_w_13 d-margins" data-uib="twitter%20bootstrap/radio_group" data-ver="0" data-child-name="bs-radio-group-1">
                                                <div ng-repeat="evento in dadosTela.eventos" ng-model="dadosTela.eventoSelecionado">
                                                    <label class="radio widget uib_w_17" data-uib="twitter%20bootstrap/radio_button" data-ver="0">
                                                        <input id="{{evento.idEvento}}" type="radio" name="bs-radio-group-1" 
                                                               data-ng-model="dadosTela.eventoSelecionado" 
                                                               ng-value="evento"
                                                               ng-change="changeRoomCtrl.limparSelecaoSala()"
                                                               required>
                                                        {{evento.tituloEvento}}
                                                    </label>													
                                                </div>
                                            </fieldset>
										</div>
										<div class="table-thing widget uib_w_9 d-margins d-widths" data-uib="twitter%20bootstrap/input" data-ver="0" ng-show="dadosTela.seHabilitado &amp;&amp; changeRoomCtrl.canChooseRoom(dadosTela.eventoSelecionado)">
											<label class="narrow-control label-top-left" for="idFldSalas">Escolha uma sala:</label>
                                            <fieldset id="idFldSalas" class="widget uib_w_13 d-margins" data-uib="twitter%20bootstrap/radio_group" data-ver="0" data-child-name="bs-radio-group-1">
                                                <div ng-repeat="sala in dadosTela.eventoSelecionado.salas" ng-model="dadosTela.salaSelecionada">
                                                    <label class="radio widget uib_w_17" data-uib="twitter%20bootstrap/radio_button" data-ver="0">
                                                        <input id="{{sala.idSala}}" type="radio" name="bs-radio-group-2" 
                                                               data-ng-model="dadosTela.salaSelecionada" 
                                                               ng-value="sala"
                                                               required>
                                                        {{sala.tituloSala}}
                                                    </label>
                                                </div>
                                            </fieldset>
										</div>
										<div class="btn-group uib-bs-flex widget uib_w_10 d-margins d-widths" data-uib="twitter%20bootstrap/button_group" data-ver="0">
											<button id="idBtnSalvar" type="submit" ng-disabled="!dadosTela.seHabilitado || !changeRoomForm.$valid" class="btn widget uib_w_11 btn-primary" data-uib="twitter%20bootstrap/button" data-ver="0">
												<i class="fa fa-save" data-position="left"></i> Salvar</button>
											<button type="button" ng-click="changeRoomCtrl.goToHome()" class="btn widget uib_w_12 btn-default" data-uib="twitter%20bootstrap/button" data-ver="0" id="idBtnFechar">
                                                <i class="fa fa-sign-out" data-position="left"></i> Fechar</button>
										</div>
									</form>

									<span class="uib_shim"></span>
								</div>
							</div>
							<span class="uib_shim"></span>
						</div>

					</div>
					<!-- /upage-content -->

				</div>
				<!-- /upage-outer -->

			</div>
			<!-- /upage -->

		</div>
		<!-- /uwrap -->
	</body>

</html>