<!DOCTYPE html>
<!--HTML5 doctype-->
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/button.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/validation.css">
		<link rel="stylesheet" type="text/css" href="css/settings_main.less.css" class="main-less">
		<title>GetScan</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<style type="text/css">
			/* Prevent copy paste for all elements except text fields */
			*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
			input, textarea  { -webkit-user-select:text; }
		</style>
		<script src="../../assets/lib/angular.min.js"></script>
		<script src="../../assets/lib/angular-route.min.js"></script>
		<script type="application/javascript" src="../../assets/lib/jquery.min.js"></script>
		<script type="application/javascript" src="../../assets/js/marginal/marginal-position.min.js"></script>
		<script type="application/javascript" src="../../assets/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../app.js"></script>
		<script src="../directives.js"></script>
		<script src="../commons.js"></script>
		<script src="../services.js"></script>
		<script src="../controller.js"></script>
		<!--<script src="cordova.js"></script>-->
		<!--<script src="cordova.js"></script>-->
	</head>

	<body ng-app="app" class="bgApp">

		<!-- content goes here-->

		<div class="uwrap" ng-controller="settingsController">
			<div class="upage" id="mainpage">
				<div class="upage-outer">
					<div class="upage-content" id="mainsub">
						<div class="grid grid-pad urow uib_row_1 row-height-1" data-uib="layout/row" data-ver="0">
							<div class="col uib_col_1 col-0_12-12" data-uib="layout/col" data-ver="0">
								<div class="widget-container content-area vertical-col left">
									<div class="widget uib_w_7 scale-image d-margins" data-uib="media/img" data-ver="0">
										<figure class="figure-align">
											<img src="../../assets/images/logo.png">

											<figcaption data-position="bottom"></figcaption>
										</figure>
									</div>
									<span class="widget uib_w_8 d-margins badge" data-uib="twitter%20bootstrap/badge_and_label">Modo de Operação</span>
									<fieldset class="widget uib_w_14 d-margins" data-uib="twitter%20bootstrap/radio_group" data-child-name="bs-radio-group-1" id="idRgModoOperacao">
										<label class="radio widget uib_w_15" data-uib="twitter%20bootstrap/radio_button">
											<input type="checkbox" name="bs-radio-group-1" id="rbRedeLocal" ng-model="checked" ng-change="checkeboxSelect()">Rede local (wifi)</label>
										<label class="radio widget uib_w_16" data-uib="twitter%20bootstrap/radio_button">
											<input type="checkbox" name="bs-radio-group-1" ng-model="checked1" ng-change="checkeboxSelect()" id="rbRedeStand">Standalone (Bluethoot)</label>
									</fieldset><span class="widget uib_w_13 d-margins badge" data-uib="twitter%20bootstrap/badge_and_label" data-ver="0">Configurações adicionais</span>
									<form name="settingsForm" ng-controller="settingsController as settingsCtrl" ng-submit="settingsForm.$valid &amp;&amp; settingsCtrl.salvar()" novalidate="">
										<messages></messages>
										<div class="table-thing widget uib_w_6 d-margins d-widths" data-uib="twitter%20bootstrap/input" data-ver="0">
											<label class="narrow-control label-top-left" for="idTxtUrlServidor">Identificação do agente:</label>
											<input id="idTxtUrlServidor" name="txtUrlServidor" type="url" placeholder="Informe a identificação do agente..." ng-model="settingsCtrl.dadosTela.url" ng-minlength="5" required="" class="wide-control form-control default" ng-disabled="!checked">
										</div>
										<div class="table-thing widget uib_w_9 d-margins d-widths" data-uib="twitter%20bootstrap/input" data-ver="0">
											<label class="narrow-control label-top-left" for="idTxtCpfFiscal">Porta do Agente</label>
											<input class="wide-control form-control default" type="text" id="idTxtCpfFiscal" name="txtCpfFiscal" maxlength="11" max="11" ng-pattern="settingsCtrl.onlyNumber" ng-model="settingsCtrl.dadosTela.cpf" ng-minlength="11" ng-maxlength="11" required="" value="9999"
											placeholder="Informe a porta do agente..." ng-disabled="!checked">
										</div>
										<div class="btn-group uib-bs-flex widget uib_w_10 d-margins" data-uib="twitter%20bootstrap/button_group" data-ver="0">

											<button type="submit" id="idBtnSalvar" ng-disabled="!checked && !checked1" class="btn widget uib_w_11 btn-primary" data-uib="twitter%20bootstrap/button" data-ver="0">
												<i class="fa fa-save" data-position="left"></i> Salvar</button>
											<button type="button" ng-click="settingsCtrl.goToHome()" class="btn widget uib_w_12 btn-default" data-uib="twitter%20bootstrap/button" data-ver="0" id="idBtnFechar">
												<i class="fa fa-sign-out" data-position="left"></i> Fechar</button>
										</div>
									</form>
									<span class="uib_shim"></span>
								</div>
							</div>
							<span class="uib_shim"></span>
						</div>

					</div>
					<!-- /upage-content -->

				</div>
				<!-- /upage-outer -->

			</div>
			<!-- /upage -->

		</div>
		<!-- /uwrap -->
	</body>

</html>