@media all {
  .d-widths,
  .table-thing.d-widths {
    width: 100%;
  }
  .d-widths,
  .table-thing.d-widths {
    width: 100%;
  }
  .d-widths > .narrow-control {
    text-align: left;
  }
}
@media all {
  .d-badge-widths {
    width: 100%;
  }
}
.figure-align {
  display: table;
  margin: 0px auto;
}
.figure-align img {
  width: 100%;
}
.image-cell {
  display: table-cell;
  vertical-align: middle;
}
@media all {
  .scale-image {
    width: 100px;
  }
}
@media all {
  .scale-img {
    width: 100%;
  }
}
@media all {
  .d-margins {
    margin-bottom: 10px;
  }
  .wrapping-col > .d-margins {
    margin-left: 6px;
    margin-right: 6px;
  }
}
.button-icon-top {
  display: block;
  margin: auto;
}
.button-icon-bottom {
  display: block;
  margin: auto;
}
.button-icon-left {
  float: left;
}
.button-icon-right {
  float: right;
}
.uib-bs-flex:not(.btn-group-vertical) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.uib-bs-flex:not(.btn-group-vertical) > .widget {
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  -o-flex: 1 auto;
  flex: 1 auto;
}
.btn-group .d-margins {
  margin: 0;
}
@media all {
  .grid-pad {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
