.button-icon-top {
  display: block;
  margin: auto;
}
.button-icon-bottom {
  display: block;
  margin: auto;
}
.button-icon-left {
  float: left;
}
.button-icon-right {
  float: right;
}
.uib-bs-flex:not(.btn-group-vertical) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.uib-bs-flex:not(.btn-group-vertical) > .widget {
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  -o-flex: 1 auto;
  flex: 1 auto;
}
.btn-group .d-margins {
  margin: 0;
}
@media all {
  .d-margins {
    margin-top: 5px;
    margin-bottom: 6px;
  }
  .wrapping-col > .d-margins {
    margin-left: 3px;
    margin-right: 4px;
  }
}
.figure-align {
  display: table;
  margin: 0px auto;
}
.figure-align img {
  width: 100%;
}
.image-cell {
  display: table-cell;
  vertical-align: middle;
}
@media all {
  
}
@media all {
  .d-badge-widths {
    width: 100%;
  }
}
.align-widget {
  margin: 5px 0 !important;
}
.full-width-widget {
  width: 100%;
}
.inline-widget {
  display: inline-block;
}
label {
  width: auto;
  float: none;
}
label + *:not(div.inline-widget) {
  width: 100% !important;
  margin-bottom: 0 !important;
}
label:empty {
  display: none;
}
.label-inline {
  vertical-align: middle;
}
.label-top-left,
.label-top-right {
  display: block;
  padding: 0;
  margin: 0;
}
.label-top-left + *,
.label-top-right + * {
  display: block;
}
.label-top-left {
  text-align: left;
}
.label-top-right {
  text-align: right;
}
.tail-c {
  display: table-cell;
  width: 15px;
}
