<!DOCTYPE html>
<!--HTML5 doctype-->
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" class="uib-framework-theme">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/index_main.less.css" class="main-less">
		<link rel="stylesheet" type="text/css" href="assets/css/button.css">
		<title>GetScan</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<style type="text/css">
			/* Prevent copy paste for all elements except text fields */
			*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
			input, textarea  { -webkit-user-select:text; }
            .bgApp {
    background-image: linear-gradient(top, #ffffff 0%, #ffffff 0%, #0080c0 100%, #0080c0 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 0%, #0080c0 100%, #0080c0 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
		</style>
		<script src="assets/lib/angular.min.js"></script>
		<script src="assets/lib/angular-route.min.js"></script>
		<!--<script src="intelxdk.js"></script>-->
		<script src="cordova.js"></script>
		<script type="text/javascript">
			document.addEventListener("intel.xdk.device.ready",onDeviceReady,true);
		</script>
		<script type="application/javascript" src="assets/lib/jquery.min.js"></script>
		<script type="application/javascript" src="assets/js/marginal/marginal-position.min.js"></script>
		<script type="application/javascript" src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="application/javascript" src="assets/lib/ui-bootstrap-0.11.2.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/directives.js"></script>
		<script src="app/commons.js"></script>
		<script src="app/services.js"></script>
		<script src="app/controller.js"></script>
	</head>

	<body ng-app="app" ng-controller="homeController as homeCtrl" class="bgApp">

		<!-- content goes here-->

		<div class="uwrap">
			<div class="upage" id="mainpage">
				<div class="upage-outer">
					<div class="upage-content" id="mainsub">
						<div class="grid grid-pad urow uib_row_1 row-height-1" data-uib="layout/row" data-ver="0">
							<div class="col uib_col_1 col-0_12-12" data-uib="layout/col" data-ver="0">
								<div class="widget-container content-area vertical-col left">
									<div class="widget uib_w_7 d-margins" data-uib="media/img" data-ver="0">
										<figure class="figure-align">
											<img src="assets/images/logo.png">

											<figcaption data-position="bottom"></figcaption>
										</figure>
									</div>

									<button id="idBtnRegistry" type="button" ng-click="homeCtrl.goToRegistry()" class="ui-button btn widget uib_w_2 d-margins btn-lg btn-warning" data-uib="twitter%20bootstrap/button" data-ver="0"><i class="glyphicon glyphicon-qrcode button-icon-left" data-position="left"></i>	Realizar Leitura</button>

									<button id="idBtnSettings" type="button" ng-click="homeCtrl.goToSettings()" class="ui-button btn widget uib_w_4 d-margins btn-lg btn-primary" data-uib="twitter%20bootstrap/button" data-ver="0"><i class="glyphicon glyphicon-cog button-icon-left" data-position="left"></i> Configurações</button>
									<button id="idBtnHelp" type="button" ng-click="homeCtrl.goToHelp()" class="ui-button btn widget uib_w_5 d-margins btn-lg btn-success" data-uib="twitter%20bootstrap/button" data-ver="0"><i class="glyphicon glyphicon-question-sign button-icon-left" data-position="left"></i>	Ajuda</button>
									<button id="idBtnSair" type="button" ng-click="homeCtrl.close()" class="btn widget uib_w_6 d-margins btn-lg btn-danger" data-uib="twitter%20bootstrap/button" data-ver="0"><i class="glyphicon glyphicon-off button-icon-left" data-position="left"></i> Sair</button>
									<span class="uib_shim"></span>
								</div>
							</div>
							<span class="uib_shim"></span>
						</div>
					</div>
					<!-- /upage-content -->

				</div>
				<!-- /upage-outer -->

			</div>
			<!-- /upage -->

		</div>
		<!-- /uwrap -->
	</body>

</html>